services:
  app:
    build:
      context: .
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://badge_user:badge_pass@db:5432/badge_db
      WORK_BASIC_AUTH_USERNAME: phreaknic26
      WORK_BASIC_AUTH_PASSWORD: password
    restart: unless-stopped

  db:
    image: postgres:15
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: badge_db
      POSTGRES_USER: badge_user
      POSTGRES_PASSWORD: badge_pass
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata: